// color overrides


// Bulma default overrides
$primary: #2f855a;
$info: #ebf4ff;
$link: #5a67d8;
$test: #09868b;
$light: #f7fafc;
$dark: #1a202c;
$danger: #e53e3e;
$body-size: 18px;


// $black-bis: #1a202c;
// $black-ter: #718096;
// $grey-darker: #E2E8F0;
// $grey-dark: #2D3748;	
// $grey-light: #EDF2F7;
// $grey-lighter: #4A5568;
// $white-ter: #CBD5E0;
// $white-bis: #f7fafc;

$link-hover: #667eea;

/*! bulma.io v0.8.2 | MIT License | github.com/jgthms/bulma */
// @import "./bulma";
@import "./bulma/index";
