$sizeUnit: rem;
$marginKey: 'M';
$paddingKey: 'P';
$separator: '-';
$sizes: (
    ('none', 0),
    ('XXS', 0.125),
    ('XS', 0.25),
    ('SM', 0.5),
    ('MD', 1),
    ('LG', 2),
    ('XL', 4),
    ('XXL', 8),
);
$positions: (
    ('T', 'top'),
    ('R', 'right'),
    ('B', 'bottom'),
    ('L', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}