@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400&display=swap);


$color-primary: #2e364f;
$color-primary-light: #2d5d7c;
$color-background: #f3f0e2;

$secondary: #ef5939 !default;
$secondary-invert: findColorInvert($secondary) !default;
$custom-colors: ("secondary": ($secondary, $secondary-invert));

$primary: $color-primary;
$info: $color-primary-light;
// $light: $color-background;
$link: $color-primary-light;
$danger: $secondary;

//$family-primary: 'Lato', sans-serif;
// $navbar-burger-color: $color-background;
// $background: $color-background;
// $text-invert: $color-background;
@import "~bulma/bulma.sass";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import 'spacing';


.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.has-column-order-reversed {
  flex-direction: row-reverse;
}

// html {
//   margin: 0 1rem;
// }