@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400&display=swap);

// color overrides
$primary: #687864;
$info: #5085a5;
$link: #31708e;
$light: #f7f9fb;
$dark: #162e1a;
$success: #8fc1e3;

// font overrides
$family-primary: 'Lato', sans-serif;

@import "~bulma/bulma.sass";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import 'spacing';

// extra helper classes
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.has-column-order-reversed {
  flex-direction: row-reverse;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-background.is-transparent {
  opacity: 0.0777;
}